<%- include('./partials/header.ejs') %>
<div class="card">
    <div class="card-body">
      <h1 class="text-center">Page not found!</h1>
    </div>
</div>
</div>
<%- include('./partials/footer.ejs') %>