<%- include('./partials/header.ejs') %>
    <h1 class="text-red">About Page</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) { %>
            <tr>
              <th scope="row">1</th>
              <td><%= user.name %></td>
              <td><%= user.age %></td>
              <td>@mdo</td>
            </tr> 
         <% }); %> 
          
           
        </tbody>
      </table>
</div>

<%- include('./partials/footer.ejs') %>
