<%- include('./partials/header.ejs') %>
<div class="container mt-5">
    <h1 class="text-danger">Under Construction</h1>
</div> 
<p class="text-danger">Comming Soon<br/>
    Our website is currently undergoing scheduled maintenance. We Should be back shortly. Thank you for your patience.</p>
<%- include('./partials/footer.ejs') %>
